logs/**
saves/**
local/**
modernfix/**
mods/**
screenshots/**
chiselsandbits/**
icon.png
options.txt
resourcepacks/**
shaderpacks/**
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
srsp-modpack-vanilla-changes.txt
usercache.json
usernamecache.json
crash-reports/**
.qmenu_opened.marker
config/everycomp-hazardous.properties
config/jei/world/**
config/oculus.properties
/schematics
config/packetfixer.properties
config/freecam.toml
debug.log
wd_next.txt
kubejs/assets/minecraft/sounds/vineboom.ogg
kubejs/assets/minecraft/sounds/thisway_oc9.ogg
kubejs/assets/minecraft/sounds/thisway_oc8.ogg
kubejs/assets/minecraft/sounds/thisway_oc7.ogg
kubejs/assets/minecraft/sounds/thisway_oc6.ogg
kubejs/assets/minecraft/sounds/thisway_oc5.ogg
kubejs/assets/minecraft/sounds/thisway_oc4.ogg
kubejs/assets/minecraft/sounds/thisway_oc3.ogg
kubejs/assets/minecraft/sounds/thisway_oc2.ogg
kubejs/assets/minecraft/sounds/thisway_oc18.ogg
kubejs/assets/minecraft/sounds/thisway_oc17.ogg
kubejs/assets/minecraft/sounds/thisway_oc16.ogg
kubejs/assets/minecraft/sounds/thisway_oc15.ogg
kubejs/assets/minecraft/sounds/thisway_oc14.ogg
kubejs/assets/minecraft/sounds/thisway_oc13.ogg
kubejs/assets/minecraft/sounds/thisway_oc12.ogg
kubejs/assets/minecraft/sounds/thisway_oc11.ogg
kubejs/assets/minecraft/sounds/thisway_oc10.ogg
kubejs/assets/minecraft/sounds/thisway_oc1.ogg
kubejs/assets/minecraft/sounds/thisway_oc0.ogg
kubejs/assets/minecraft/sounds/thisway_ig2.ogg
kubejs/assets/minecraft/sounds/thisway_ig1.ogg
kubejs/assets/minecraft/sounds/thisway_ig0.ogg
kubejs/assets/minecraft/sounds/thisway_ib2.ogg
kubejs/assets/minecraft/sounds/thisway_ib1.ogg
kubejs/assets/minecraft/sounds/thisway_ib0.ogg
kubejs/assets/minecraft/sounds/salmon_run_defeat.ogg
kubejs/assets/minecraft/sounds/salmon_run_boss.ogg
kubejs/assets/minecraft/sounds/night_wave_clear.ogg
kubejs/assets/minecraft/sounds/metalpipe.ogg
/ESM
config/skinlayers.json
kubejs/assets/minecraft/sounds/flowery1.ogg
kubejs/assets/minecraft/sounds/flowery2.ogg
kubejs/assets/minecraft/sounds/jarona1.ogg
kubejs/assets/minecraft/sounds/jarona2.ogg
kubejs/assets/minecraft/sounds/jarona3.ogg
kubejs/assets/minecraft/sounds/jarona4.ogg
