logs/**
saves/**
local/**
modernfix/**
mods/**
screenshots/**
chiselsandbits/**
icon.png
options.txt
resourcepacks/**
shaderpacks/**
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
srsp-modpack-vanilla-changes.txt
usercache.json
usernamecache.json
crash-reports/**
.qmenu_opened.marker
config/everycomp-hazardous.properties
config/jei/world/**
config/oculus.properties
/schematics
