# File Specification: https://gist.github.com/Shadows-of-Fire/88ac714a758636c57a52e32ace5474c1

# Apotheosis Spawner Module Configuration

general {
    # The level of silk touch needed to harvest a spawner.  Set to -1 to disable, 0 to always drop.  The enchantment module can increase the max level of silk touch.
    # Functionally server-authoritative, but should match on client for information.
    # Default: 1; Range: [-1 ~ 127]
    I:"Spawner Silk Level"=1

    # The durability damage dealt to an item that silk touches a spawner.
    # Server-authoritative.
    # Default: 100; Range: [0 ~ 100000]
    I:"Spawner Silk Damage"=100

    # Whether to show info regarding the capturing enchantment in the JEI information for spawn eggs.
    # Default: true
    B:"Enable Capturing Enchantment JEI Info"=false
}


spawn_eggs {
    # A list of entity registry names that cannot be applied to spawners via egg.
    # Should match between client and server.
    # Default: [
    S:"Banned Mobs" <
		quark:stoneling
		minecraft:vex
		quark:toretoise
		minecraft:warden
		minecraft:villager
		minecraft:wandering_trader
		minecraft:wither
		minecraft:ender_dragon
		minecraft:zombie_villager
		minecraft:wither_skeleton
		minecraft:iron_golem
		minecraft:fox
		minecraft:evoker
		minecraft:cat
		minecraft:axolotl
		minecraft:allay
		perfectplushieapi:wandering_plushie_trader
		artifacts:mimic
		occultism:possessed_elder_guardian
		occultism:possessed_enderman
		occultism:possessed_endermite
		occultism:possessed_ghast
		occultism:possessed_hoglin
		occultism:possessed_phantom
		occultism:possessed_shulker
		occultism:possessed_skeleton
		occultism:possessed_warden
		occultism:possessed_weak_shulker
		occultism:afrit_wild
		occultism:possessed_elder_guardian
		occultism:possessed_enderman
		occultism:possessed_endermite
		occultism:possessed_ghast
		occultism:possessed_hoglin
		occultism:possessed_phantom
		occultism:possessed_shulker
		occultism:possessed_skeleton
		occultism:possessed_warden
		occultism:possessed_weak_shulker
		occultism:wild_hunt_skeleton
		occultism:wild_hunt_wither_skeleton
		iceandfire:amphithere
		iceandfire:cyclops
		iceandfire:cockatrice
		iceandfire:deathworm
		iceandfire:dragon_egg
		iceandfire:dragon_skull
		iceandfire:dread_beast
		iceandfire:dread_ghoul
		iceandfire:dread_horse
		iceandfire:dread_knight
		iceandfire:dread_lich
		iceandfire:dread_lich_skull
		iceandfire:dread_scuttler
		iceandfire:dread_thrall
		iceandfire:fire_dragon
		iceandfire:ice_dragon
		iceandfire:lightning_dragon
		iceandfire:ghost
		iceandfire:gorgon
		iceandfire:hippocampus
		iceandfire:hippogryph
		iceandfire:hydra
		iceandfire:mob_skull
		iceandfire:pixie
		iceandfire:sea_serpent
		iceandfire:siren
		iceandfire:stymphalian_bird
		iceandfire:troll
		occultism:bat_familiar
		occultism:beaver_familiar
		occultism:beholder_familiar
		occultism:blacksmith_familiar
		occultism:chimera_familiar
		occultism:cthulhu_familiar
		occultism:deer_familiar
		occultism:demonic_husband
		occultism:demonic_wife
		occultism:devil_familiar
		occultism:dragon_familiar
		occultism:fairy_familiar
		occultism:goat_familiar
		occultism:greedy_familiar
		occultism:guardian_familiar
		occultism:headless_familiar
		occultism:mummy_familiar
		occultism:shub_niggurath_familiar
     >
}


